<html lang='ja'>
	<head>
		<meta charset='utf-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1' />
		<meta name='theme-color' content='#000000' />
		<meta name='keywords' content={{keywords}} />
		<meta name='description' content='{{description}}' />
		<title>{{title}}</title>
		<meta property='og:title' content='{{title}}' />
		<meta property='og:description' content='{{description}}' />
		<meta property='og:image' content='{{image}}' />
		<meta name='emotion-global' />
		<script defer='defer' src='{{script}}'></script>
		<link href='{{style}}' rel='stylesheet' />
	</head>
	<body>
		<noscript>You need to enable JavaScript to run this app.</noscript>
		<div id='root'></div>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script
			async
			src='https://www.googletagmanager.com/gtag/js?id={{gaMeasurementId}}'
			nonce='{{nonce}}'
		></script>
		<script nonce='{{nonce}}'>
			window.dataLayer = window.dataLayer || []; function
			gtag(){dataLayer.push(arguments);} gtag('js', new Date());
			gtag('config', '{{gaMeasurementId}}');
		</script>
	</body>
</html>
